<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-dark">{{usuario.email}}</h2>
            {{#if usuario.premium}}
            <span class="badge bg-warning">Usuario Premium</span>
            <div class="card-body">
                <p class="card-text fw-bold">Felicitaciones eres USUARIO ⭐PREMIUM⭐.</p>
                <p class="card-text">Comenzá a disfrutar de todos los beneficios que tenemos para vos!</p>
            </div>
            {{else}}
            <span class="badge bg-danger">Dejaste de ser Premium</span>
            <div class="card-body">
                <p class="card-text fw-bold">Volviste a ser {{usuario.role}} classic.</p>
                <p class="card-text">Si quieres volver a ser <strong>Premium</strong> no debes volver a cargar la
                    documentación.</p>
            </div>
            {{/if}}
        </div>
        <div class="card-footer">
            <a href="/products" class="btn btn-success btn-block">Volver a la Tienda</a>
        </div>
    </div>
</div>