body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

main {
    flex-grow: 1; 
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container::before {
    content: "▼"; 
    position: absolute;
    top: 50%;
    right: 5px; 
    transform: translateY(-50%);
    font-size: 0.5em; 
    color: white;
}

.image-container img {
    border: 1px solid white;
}

.custom-btn {
    margin-left: auto;
}